html {
  font-family: 'open sans', sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

body {
  margin: 0;
  background-color: #f7fafd;
    line-height: 1.6;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main { /* 1 */
  display: block;
}


hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}


pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}


a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}


button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}


button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

/*******************END RESET*****************************************************************************/

.noScroll {
    overflow-y: hidden;
}


/******MENU******/

#nav-icon {  
  width: 35px;
  height: 25px;
  position: relative;
  left: 10%;
  top: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  transition: .5s ease-in;
  cursor: pointer;
  z-index: 100;
}

#nav-icon span{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background:  #f7fafd;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  z-index: 100;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 14px;
}

#nav-icon span:nth-child(3) {
  top: 28px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#menu {
  display: none;
  transition: .5s ease-in-out;
  font-family: 'rubik', sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #ea672d;
  position: relative;
  left: -100vw;
  box-shadow:0px 1px 1px rgba(0,0,0,0.15);
  top: -41px;
}


.active {
  display: block !important;
  animation: flowIn .35s forwards;

}

.main__content {
    background-color: #f7fafd;
}

.inactive {
    display: none;
}


@keyframes flowIn {
    0% {
        left: -100vw;
    }
    
    100% {
        left: 0;
    }
}


    .menu__container li {
        margin: 20px 0px 20px 0px;
        text-align: center;
        display:block;
        font-size: 18px;
        
    }

.menu__container li a {
    text-decoration: none;
    color: #f7fafd;
  font-family: 'open sans', san-serif;
  font-size: 22px;
  font-weight: 600;
}

.menu__container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 30px;
}

.menu__container li a:hover {
  color: #f7fafd;
}

/************************/


.header__container {
    width: 100%;
    height: 500px;
    background: #172242;
}

.header__infoContainer {
    width: 80%;
    text-align: left;
    margin: 0 auto;
    position: relative;
    top: 47.5%;
    transform: translateY(-50%);
    text-align: center;
    max-width: 268px;

}

.header__infoContainer h1 {
    font-size: 24px;
    font-family: 'rubik', sans-serif;
    color: #f7fafd;
    padding-top: 15px;
    font-weight: 500;
    width: 100%;
    line-height: 1.6;
    margin: 0 auto;
}

.header__container h2 {
    font-size: 15px;
    color: #f7fafd;
    opacity: .85;
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    width: 100%;
    margin: 0px auto 10px auto;
}

.portfolio__img {
    display: block;
    height: 160px;
    width: 160px;
    margin: 0 auto;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    background:url(images/profile.png) center center;
    background-repeat: no-repeat;
    background-size: 103%;
    border: solid 5px #ea672d;
}

.social__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 60px;

}

.icon {
  fill: rgba(255,255,255, .8);
  height: auto;
  width: 38px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .1);
  padding: 8px;
  margin: 10px 10px 0 0;
  transition: .35s;
}

.icon:hover {
  background-color: rgb(234,103,45);
  cursor: pointer;
  transform: scale(1.05);
}


.about__container {
    padding: 40px 10%;
}

.container {
    background-color: #f7fafd;
}

.container h1 {
    font-size: 26px;
    letter-spacing: 1px;
    color: #ea672d;
    font-weight: 700;
    font-family: 'rubik', sans-serif;
}

.container h2 {
    font-size: 14px;
    color: #172242;
    line-height: 1.6;
}

.container p {
    font-size: 14px;
    color: #172242;
    opacity: .85;
    line-height: 1.6;
}

.work__container h1 {
    margin-bottom: 30px;
}

.work__container {
    background-color: #fff;
    border-top: solid 1px #cecece;
    border-bottom: solid 1px #cecece;
    padding: 40px 10%;
}


.work__container-flex {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

.work__link {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  color: #172242;
  text-decoration: none;
  transition: .35s;
}



.work__link span {
  display: block;
}

.work__link h6 {
	font-family: 'montserrat', san-serif;
	color: #f7fafd;
    font-size: .7em;
    margin: 0 7px 5px 0;
    font-weight: 400;
	padding: 0.6em 1.2em;
    border-radius: 15px;
	display: inline-block;
	background-color: #ea672d;
}

.tag__container {

}


.work__link .work-summary {
  padding: 10px 3% 5% 0;
  font-weight: 400;
  font-family: 'open sans', sans-serif;
  font-size: 14px;
  opacity: .85;
  line-height: 1.6;
  text-align: left;
    
}
.work__link .work-header {
  margin-top: 10px;
  position: relative;
  height: 200px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


@media (max-width: 340px) {
    .work__link .work-header {
    position: relative;
    height: 190px;
}
}

.work__link .work-title {
  padding: 5% 0 0 0;
  color: #172242;
  width: 100%;
}

.work__link .work-title h3 {
  font-size: 1.3em;
  font-weight: 400;
  margin-top: 5px;
  font-family: 'montserrat', sans-serif;
  text-align: left;
  margin-bottom: 3px;
}



.work__container p {
    padding-bottom: 20px;
}

.contact__container {
    padding: 40px 0;
    width: 80%;
    margin: 0 auto;
}

form {
    margin: 0 auto;
    width: 90%;
    position: relative;
    left: -15px;
}

input,
textarea {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 8px 0;
    padding: 10px 15px;
    background-color: transparent;
    color: #172242;
    font-size: 1em;
    border: 1px solid #172242;
    -webkit-appearance: none;
}

input[type=submit] {
    font-family: 'Montserrat', sans-serif!important;
}

input[type=submit],
textarea[type=submit] {
    color: #f7fafd;
    border: none;
    background-color: #ea672d;
    padding: .8em 1.2em;
    width: auto;
    font-size: 15px;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: .35s;
    transition: .35s;
    cursor: pointer;
}

input[type=submit]:hover {
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #656565;
    font-family: 'open sans', sans-serif;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #424242;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #424242;
}

input::placeholder,
textarea::placeholder {
    color: #424242;
}

input.error,
textarea.error {
    background: #AD4747;
    color: #f7fafd;
}

input.error::-webkit-input-placeholder,
textarea.error::-webkit-input-placeholder {
    color: #424242;
}

input.error::-moz-placeholder,
textarea.error::-moz-placeholder {
    color: #424242;
}

input.error:-ms-input-placeholder,
textarea.error:-ms-input-placeholder {
    color: #424242;
}

input.error::placeholder,
textarea.error::placeholder {
    color: #424242;
}

.contact__container form textarea {
    height: 240px;
}

.back {
    width: 90px;
    height: 45px;
    background-color: #172242;
    margin: 5% 0 0 10%;
}

.back a {
    display: block;
    text-decoration: none;
    color: #fff;
    line-height: 45px;
    text-align: center;
    font-family: 'montserrat', sans-serif;
}

.project__summary {
    padding: 5% 0;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.project__summary {
    display: block !important;
    opacity: 1!important;
}

.project__img {
  margin-top: 20px;
  position: relative;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;  
}

#Byronipad {
    background-image: url(images/IpadInterior.png);
    height: 300px;
}

#Byronlaptop {
    background-image: url(images/LaptopInterior.png);
}

#Byroniphone {
    background-image: url(images/PhoneInterior.png);
}

#Weatheripad {
    background-image: url(images/WeatherIpad.png);
    height: 300px;
}

#Weatherlaptop {
    background-image: url(images/WeatherLaptop.png);
}

#Weatheriphone {
    background-image: url(images/WeatherIphone.png);
}


@media (min-width: 768px) {
    
    .icon {
        width: 40px;
    }
    
    .noScroll {
    overflow-y: auto;
}

    .header__container  {
        overflow-y: hidden;
    }
    
    .header__infoContainer h1 {
        font-size: 24px;  
        padding: .5em 0 0 0;
    }
    
    .header__infoContainer h2 {
        font-size: 16px;
    }
    
    .portfolio__img {
        height: 180px;
        width: 180px;
    }
    
    .activePage {
        display: block !important;
        animation: fadeIn 1s forwards;
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        
        100% {
            opacity: 1;
        }
        
    }
    
    .container {
        padding: 7.5% 0;
        width: 75%;
        margin: 0 auto;
        display: none;
        opacity: 0;
    }
    
    .project__summary {
        width: 100%;
    }
    
    .project__img {
    }
    

    .container h1 {
        margin: 0 0 0 0;
        font-size: 32px;
        padding: 0;
    }
    
    .container h2 {
        font-size: 20px;
        padding: 0;
    }

    .container p {
        font-size: 17px;
        padding: 0;
    }
    
    .work__container {
        background-color: inherit;
    }
    
    .work__container h1 {
    margin-bottom: 15px;
}
    
    .work__container img {
        margin-top: 30px;
        height: 230px;
    }
    
    .work__container h2 {
        margin-bottom: -10px;
    }
    
    .work__link .work-header {
        height: 260px;   
    }
    
    .header__container  {
        width: 35%;
        position: fixed;
        display: inline-block;
        height: 100vh;
    }
    
    .main__content{
        display: inline-block;
        width: 65%;
        padding: 0;
        float: right;
        overflow: auto;
    }
    
    .contact__container {
        height: 100vh;
        padding: 0;
    }
    
    .contact__container article {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-width: 600px;
        margin: 0 auto;
    }
    
    form {
    margin: 0 auto;
    width: 100%;
    left: 0;
}

    
}
    
@media (min-width: 1140px) {
    .work__container-flex {
        width: 100%;
        justify-content: space-between;
    }
    
    .work__link {
        width: 45%;
        
    }
    
   .work__link .work-header {
        height: 220px;
    }
    
        .header__container  {
        width: 25%;
    }
    
    .main__content{
        width: 75%;
    }
    
}